<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1, maximum-scale=1, user-scalable=no"
    >
    <title>FT</title>
    <meta
      name="description"
      content=""
    >
    <meta name="keywords" content="">
    <style>
      html,
      body,
      #container {
        height: 100%;
        width: 100%;
      }

      body {
        position: fixed;
        background-color: #ffffff;
        margin: 0;
        overflow: hidden;
      }

      .warning {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: monospace;
      }
    </style>
    <% for (const css of htmlWebpackPlugin.files.css) {%>
    <link rel="stylesheet" media="all" href="<%= css %>">
    <% } %>
  </head>

  <body>
    <div id="container"></div>
    <noscript>
      <div class="warning">
        <p>JavaScript support is required.</p>
        <p>需要开启 JavaScript。</p>
      </div>
    </noscript>

    <% for (const js of htmlWebpackPlugin.files.js) {%>
    <script type="text/javascript" src="<%= js %>"></script>
    <% } %>

    <% if (APP_ENV === 'local') { %>
    <% } %>

    <% if (APP_ENV === 'preview') { %>
    <% } %>

    <% if (APP_ENV === 'release') { %>
    <% } %>
  </body>
</html>
